*.dat
*.txt
*.log
*DS_Store
*__py
*.o
demo*
draft*
*.ipynb_checkpoints
*__pycache__
*.vscode*
*.h5
*.bin
*best_model_2d/*
*strong_pro_main*
*weak_pro_main*
Report/samples/
MPI.Heat/C++.Heat/ver3.0/benckmarks/*
*.json
CMakeFiles*
PINN/ver3.0/libtorch/*
*aux
*.bin
MPI.Heat/C++.Heat/ver5.0/build/*
*.mat
*.m
acmart.cls
acmart.pdf
acmguide.pdf
samples/sample-*.pdf
*.log
*.aux
*.cfg
*.glo
*.idx
*.toc
*.ilg
*.ind
*.ins
*.out
*.dtx
*.lof
*.lot
*.fls
*.bbl
*.blg
*.gls
*.cut
*.hd
*.dvi
*.ps
*.thm
*.tgz
*.zip
*.rpi
*~
*.bcf
*.run.xml
*.gz
*.fdb_latexmk
*.xcp
samples/ACM-Reference-Format.bst
samples/*.tex
samples/*.bbx
samples/*.cbx
samples/*.dbx