*.dat
*.txt
*.log
*DS_Store
*__py
*.o
demo*
draft*
*.ipynb_checkpoints
*__pycache__
*.vscode*
*.h5
*.bin
*best_model_2d/*
*strong_pro_main*
*weak_pro_main*
Report/
MPI.Heat/C++.Heat/ver3.0/benckmarks/*
*.json
CMakeFiles*
PINN/ver3.0/libtorch/*
*aux
*.bin
MPI.Heat/C++.Heat/ver5.0/build/*
*.mat
*.m